@import "tailwindcss";

@theme {
  --color-primary-50: #fef4ec;
  --color-primary-100: #fdd8be;
  --color-primary-500: #c94301;
  --color-primary-600: #a83801;
  --color-primary-700: #872d01;

  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-error: #dc2626;
  --color-info: #2563eb;
}

html {
  scroll-behavior: smooth;
}
